[user]
	name = daquexian
    email = daquexian566@gmail.com
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    cp = cherry-pick
	d = difftool
[push]
	default = simple
	followTags = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
